@{
    ViewBag.Title = "About";
}

<h3><p>Сайт предоставляет услуги по поиску персонала и вакансий. Обратите внимание, 
    для неавторизированных пользователей доступен лишь просмотр списков резюме и вакансий, без 
    возможноси подробного ознакомления и создания собственны анкет или резюме.</p></h3>
