@{
    ViewBag.Title = "Home Page";
}

<h3>Добро пожаловать на сайт кадровго агентства!</h3>
@Html.ActionLink("Посмотреть вакансии", "List", "Vac")
<br />
<br />
@Html.ActionLink("Посмотреть резюме", "List", "Sum")