@using System.Web.Security;
@using Microsoft.AspNet.Identity;
@{
    ViewBag.Title = "Home Page";
}

<h3>Добро пожаловать на сайт кадровго агентства!</h3>
@if (!User.IsInRole("Admin"))
{
    @Html.ActionLink("Посмотреть вакансии", "List", "Vac")
}

<br />
@if (User.IsInRole("Aspirant"))
{
    @Html.ActionLink("Мое резюме", "Details", "Sum", new {  id = User.Identity.GetUserId() }, null)
}
@if (User.IsInRole("Employer"))
{
    @Html.ActionLink("Посмотреть резюме", "List", "Sum")
}
@if (User.IsInRole("Admin"))
{
    @Html.ActionLink("Посмотреть резюме", "SumList", "Admin")
}