@{
    ViewBag.Title = "About";
}
<h2>В попали на сайт кадрового агентства</h2>
<h4>Авторизируйтесь, зарегистрируйтесь или посмотрите вакансии</h4>
@Html.ActionLink("Посмотреть вакансии", "Summaries", "Aspirant")